<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci <%= @user.first_name %> pour votre participation !</h1>
    <p>
      Tu t'es inscrit à l'événement : <%= @participation.id %>.
    </p>
    <p>
      Pour accéder au détail, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>